EdwAdfInboundBlueRidge/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "EdwAdfInboundBlueRidge"
		},
		"LsAsaAmmexEdw_EdwAdfPipelineReadOnly_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LsAsaAmmexEdw_EdwAdfPipelineReadOnly'"
		},
		"LsAsaAmmexEdw_EdwAdfPipelineWrite_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LsAsaAmmexEdw_EdwAdfPipelineWrite'"
		},
		"EdwAdfKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://EdwAdfKeyVault.vault.azure.net/"
		},
		"LsAdfEdwFTPBR_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "ftp.brinv.com"
		},
		"LsAdfEdwFTPBR_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Ammex_Prod"
		},
		"LsAdlEdwInboundBR_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://edwinbound.dfs.core.windows.net"
		},
		"LsAdlsAmmexEdw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ammexedwsynapsestorage.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IBP - AuditExport')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSourceNetworkFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DsSourceNetworkPathFTP",
								"type": "DatasetReference",
								"parameters": {
									"SourceNetworkPath": {
										"value": "@pipeline().parameters.SourceNetworkPath",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false,
								"useBinaryTransfer": false,
								"disableChunking": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "LoopingThroughNetworkFolders",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSourceNetworkFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSourceNetworkFolder').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "GetFileLastModifiedDate",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DsSourceNetworkPathFileNameFTP",
											"type": "DatasetReference",
											"parameters": {
												"SourceNetworkPath": {
													"value": "@pipeline().parameters.SourceNetworkPath",
													"type": "Expression"
												},
												"SourceNetworkPathFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified",
											"itemName"
										],
										"storeSettings": {
											"type": "FtpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false,
											"useBinaryTransfer": false,
											"disableChunking": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileLastModifiedDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greaterOrEquals(activity('GetFileLastModifiedDate').output.lastModified,adddays(utcnow(),-3))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CopyingTxtToDataLake",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "SourceFileName",
																"value": ""
															},
															{
																"name": "PipelineName",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "LoadDate",
																"value": {
																	"value": "@utcNow()",
																	"type": "Expression"
																}
															},
															{
																"name": "LastUpdatedDate",
																"value": {
																	"value": "@activity('GetFileLastModifiedDate').output.lastModified",
																	"type": "Expression"
																}
															},
															{
																"name": "IsSourceDeleted",
																"value": ""
															},
															{
																"name": "IsSourceDeletedDate",
																"value": ""
															}
														],
														"storeSettings": {
															"type": "FtpReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false,
															"useBinaryTransfer": false,
															"disableChunking": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DsSourceNetworkPathFileNameFTP",
														"type": "DatasetReference",
														"parameters": {
															"SourceNetworkPath": {
																"value": "@pipeline().parameters.SourceNetworkPath",
																"type": "Expression"
															},
															"SourceNetworkPathFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DsDestinationAdlEdwInboundBRTxt",
														"type": "DatasetReference",
														"parameters": {
															"DatalakeIngestRoot": {
																"value": "@pipeline().parameters.DatalakeIngestRoot",
																"type": "Expression"
															},
															"DatalakeIngestRootPath": {
																"value": "@pipeline().parameters.DatalakeIngestRootPath",
																"type": "Expression"
															},
															"DatalakeIngestRootPathFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string",
						"defaultValue": "/IBPData"
					},
					"DatalakeIngestRoot": {
						"type": "string",
						"defaultValue": "blueridge"
					},
					"DatalakeIngestRootPath": {
						"type": "string",
						"defaultValue": "ibpdata"
					}
				},
				"folder": {
					"name": "1 - Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsSourceNetworkPathFTP')]",
				"[concat(variables('factoryId'), '/datasets/DsSourceNetworkPathFileNameFTP')]",
				"[concat(variables('factoryId'), '/datasets/DsDestinationAdlEdwInboundBRTxt')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAdlsInboundEdwBRTxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInboundBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DatalakeIngestRoot": {
						"type": "string"
					},
					"DatalakeIngestRootPath": {
						"type": "string"
					},
					"DatalakeIngestRootPathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().DatalakeIngestRootPathFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().DatalakeIngestRootPath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().DatalakeIngestRoot",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInboundBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAsaAmmexEdw_EdwAdfPipelineReadONly')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineReadOnly",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "ETL",
					"table": "AdfLoadControl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineReadOnly')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAsaAmmexEdw_EdwAdfPipelineWrite')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SinkSchema": {
						"type": "string"
					},
					"SinkTable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SinkSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().SinkTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsDestinationAdlEdwInboundBRTxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInboundBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DatalakeIngestRoot": {
						"type": "string"
					},
					"DatalakeIngestRootPath": {
						"type": "string"
					},
					"DatalakeIngestRootPathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "ibpdata",
						"fileSystem": "blueridge"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInboundBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceNetworkPathFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdfEdwFTPBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"folderPath": {
							"value": "@dataset().SourceNetworkPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdfEdwFTPBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceNetworkPathFileNameFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdfEdwFTPBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string"
					},
					"SourceNetworkPathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"fileName": {
							"value": "@dataset().SourceNetworkPathFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().SourceNetworkPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdfEdwFTPBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceNetworkPathFileNameTxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdfEdwFTPBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string"
					},
					"SourceNetworkPathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"fileName": {
							"value": "@dataset().SourceNetworkPathFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().SourceNetworkPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdfEdwFTPBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceNetworkPathTxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdfEdwFTPBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"folderPath": {
							"value": "@dataset().SourceNetworkPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdfEdwFTPBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EdwAdfKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('EdwAdfKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAdfEdwFTPBR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FtpServer",
				"typeProperties": {
					"host": "[parameters('LsAdfEdwFTPBR_properties_typeProperties_host')]",
					"port": 21,
					"enableSsl": false,
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('LsAdfEdwFTPBR_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "FtpBlueRidge-AmmexCorporation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAdlEdwInboundBR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LsAdlEdwInboundBR_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-DatalakeInbound"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAdlsAmmexEdw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LsAdlsAmmexEdw_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "AmmexEdw-DataLakeStorage",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAsaAmmexEdw_EdwAdfPipelineReadOnly')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('LsAsaAmmexEdw_EdwAdfPipelineReadOnly_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-AmmexDataWarehouse-EdwAdfPipelineReadOnly"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAsaAmmexEdw_EdwAdfPipelineWrite')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('LsAsaAmmexEdw_EdwAdfPipelineWrite_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-AmmexDataWarehouse-EdwAdfPipelineWrite"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		}
	]
}