Adf/EdwAdfInbound/pipeline/IngestUnis - Item Detail_copy1.json
{
	"name": "IngestUnis - Item Detail_copy1",
	"properties": {
		"activities": [
			{
				"name": "LoopingThroughtNetworkFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceNetworkFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceNetworkFolder').output.childItems",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "GetFileLastModifiedDate",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DsSourceNetworkPathFileNameExcel",
									"type": "DatasetReference",
									"parameters": {
										"SourceNetworkPath": {
											"value": "@pipeline().parameters.SourceNetworkPath",
											"type": "Expression"
										},
										"SourceNetworkPathFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"SourceNetworkPathSheetName": {
											"value": "@pipeline().parameters.SourceNetworkPathSheetName",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileLastModifiedDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('GetFileLastModifiedDate').output.lastModified,adddays(utcnow(),-50))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyingCsvToDataLake",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"additionalColumns": [
													{
														"name": "SourceFileName",
														"value": "$$FILEPATH"
													},
													{
														"name": "PipelineName",
														"value": {
															"value": "@pipeline().Pipeline",
															"type": "Expression"
														}
													},
													{
														"name": "LoadDate",
														"value": {
															"value": "@utcNow()",
															"type": "Expression"
														}
													},
													{
														"name": "FileLastModifiedDate",
														"value": {
															"value": "@activity('GetFileLastModifiedDate').output.lastModified",
															"type": "Expression"
														}
													},
													{
														"name": "IsSourceDeleted",
														"value": ""
													},
													{
														"name": "IsSourceDeletedDate",
														"value": ""
													}
												],
												"storeSettings": {
													"type": "FileServerReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DsSourceNetworkPathExcel",
												"type": "DatasetReference",
												"parameters": {
													"SourceNetworkPath": {
														"value": "@pipeline().parameters.SourceNetworkPath",
														"type": "Expression"
													},
													"SourceNetworkPathSheetName": {
														"value": "@pipeline().parameters.SourceNetworkPathSheetName",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DsDestinationAdlEdwInboundCsv",
												"type": "DatasetReference",
												"parameters": {
													"DatalakeIngestRoot": {
														"value": "@pipeline().parameters.DatalakeIngestRoot",
														"type": "Expression"
													},
													"DatalakeIngestRootPath": {
														"value": "@pipeline().parameters.DatalakeIngestRootPath",
														"type": "Expression"
													},
													"DatalakeIngestRootPathFileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "GetSourceNetworkFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsSourceNetworkPathExcel",
						"type": "DatasetReference",
						"parameters": {
							"SourceNetworkPath": {
								"value": "@pipeline().parameters.SourceNetworkPath",
								"type": "Expression"
							},
							"SourceNetworkPathSheetName": {
								"value": "@pipeline().parameters.SourceNetworkPathSheetName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"SourceNetworkPath": {
				"type": "string",
				"defaultValue": "General\\Ammex\\Sales\\Sell Through Data Files\\OReilly\\2022\\Inventory"
			},
			"DatalakeIngestRoot": {
				"type": "string",
				"defaultValue": "finance"
			},
			"DatalakeIngestRootPath": {
				"type": "string",
				"defaultValue": "sales/sellthroughdatafiles/oreilly"
			},
			"SourceNetworkPathSheetName": {
				"type": "string",
				"defaultValue": "Item Detail"
			}
		},
		"folder": {
			"name": "1-Ingest"
		},
		"annotations": []
	}
}