Adf/EdwAdfInboundBlueRidge/pipeline/ArchiveBR.json
{
	"name": "ArchiveBR",
	"properties": {
		"activities": [
			{
				"name": "LkGetSourceObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceDatabase] = 'Forecast'\n\t  AND [SourceSchema] = 'Blueridge'\n\t  AND [IsLoad] = 1\n\t  AND [IsLoadTesting] = 0\nORDER BY [SourceObject] ASC",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FetchingTableForArchiving",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkGetSourceObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkGetSourceObjects').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Archiving",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "1 - Ingest"
		},
		"annotations": []
	}
}