Adf/EdwAdfInboundBlueRidge/pipeline/IBP - AuditExport.json
{
	"name": "IBP - AuditExport",
	"properties": {
		"activities": [
			{
				"name": "GetSourceNetworkFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsSourceNetworkPathTxt",
						"type": "DatasetReference",
						"parameters": {
							"SourceNetworkPath": {
								"value": "@pipeline().parameters.SourceNetworkPath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"useBinaryTransfer": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LoopingThroughNetworkFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceNetworkFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceNetworkFolder').output.childItems",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "GetFileLastModifiedDate",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DsSourceNetworkPathFileNameFTP",
									"type": "DatasetReference",
									"parameters": {
										"SourceNetworkPath": {
											"value": "@pipeline().parameters.SourceNetworkPath",
											"type": "Expression"
										},
										"SourceNetworkPathFileName": {
											"value": "@variables('item')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									{
										"value": "@variables('item')",
										"type": "Expression"
									}
								],
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"useBinaryTransfer": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceNetworkPath": {
				"type": "string",
				"defaultValue": "/IBPData"
			},
			"DatalakeIngestRoot": {
				"type": "string",
				"defaultValue": "blueridge"
			},
			"DatalakeIngestRootPath": {
				"type": "string",
				"defaultValue": "ibpdata"
			}
		},
		"variables": {
			"item": {
				"type": "String",
				"defaultValue": "IBP_Audit_Export.txt"
			}
		},
		"folder": {
			"name": "1 - Ingest"
		},
		"annotations": []
	}
}