Adf/EdwAdfInboundBlueRidge/pipeline/Populate IBP_Export.json
{
	"name": "Populate IBP_Export",
	"properties": {
		"activities": [
			{
				"name": "GetValueFromAdfLoadControl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceDatabase] = 'Forecast'\n\t  AND [Sourceschema] = 'Blueridge'\n\t  AND [IsLoad] = 1\n\t  AND [SourceSystem] = 'Inbound'\t  \t  \nORDER BY [SourceObject]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopingThroughtAdfLoadControlObjects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetValueFromAdfLoadControl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetValueFromAdfLoadControl').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ExecuteFormatDatatype",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{item().FormatDatatype}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ExecutePopulate",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ExecuteFormatDatatype",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{item().Populate}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "3 - Populate"
		},
		"annotations": []
	}
}