Adf/EdwAdfOrchestrationMichaelLe/pipeline/GetAllActivityDetails.json
{
	"name": "GetAllActivityDetails",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "Select RunId from ETL.PipelineDetailsMichaelLe",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetActivityDetails",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Set CurrentRunId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/cae64f29-6572-4d75-acf6-8f05b8d4e501/resourceGroups/EDWTeamResourceGroup/providers/Microsoft.DataFactory/factories/EdwAdfMichaelLeChildPipeline/pipelineruns/', variables('RunId'), '/queryActivityruns?api-version=2018-06-01')",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"value": "{\n\tlastUpdatedAfter: \"2022-07-10\",\n\tlastUpdatedBefore: \"2022-07-15\"\n}",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						},
						{
							"name": "Set CurrentRunId",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RunId",
								"value": {
									"value": "@item().RunId",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"RunId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Activity Details"
		},
		"annotations": []
	}
}