EdwAdfInboundLattice/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "EdwAdfInboundLattice"
		},
		"LsAsaAmmexEdw_EdwAdfPipelineReadOnly_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LsAsaAmmexEdw_EdwAdfPipelineReadOnly'"
		},
		"LsAsaAmmexEdw_EdwAdfPipelineWrite_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LsAsaAmmexEdw_EdwAdfPipelineWrite'"
		},
		"EdwAdfKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://EdwAdfKeyVault.vault.azure.net/"
		},
		"LsAdlEdwInbound_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://edwinbound.dfs.core.windows.net"
		},
		"LsSourceNetworkRoot_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\WU2-VM-FS-01\\FileShare\\"
		},
		"LsSourceNetworkRoot_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "ammexcorp\\EdwAdfPipelineSvc"
		},
		"LsSourceNetworkRoot_OneDrive_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "https://ammex0-my.sharepoint.com/personal/hdrive_ammex_com/_layouts/15/onedrive.aspx"
		},
		"LsSourceNetworkRoot_OneDrive_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "ammexcorp\\EdwAdfPipelineSvc"
		},
		"IrSqlMatterhorn_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/cae64f29-6572-4d75-acf6-8f05b8d4e501/resourcegroups/EDWTeamResourceGroup/providers/Microsoft.DataFactory/factories/EdwAdfMain/integrationruntimes/IrSqlMatterhorn"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ArchiveLatticeEmployee')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkGetSourceObjects",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT * FROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'InboundHumanResource' \n\t  AND [SourceSchema] = 'Employee'\n\t  AND [IsLoad] = 1\nORDER BY [SourceObject]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "FetchingTableForArchiving",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkGetSourceObjects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkGetSourceObjects').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Archiving",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": false
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DsAdlsAmmexEdwBinary",
											"type": "DatasetReference",
											"parameters": {
												"DatalakeRoot": {
													"value": "@{item().DatalakeIngestRoot}",
													"type": "Expression"
												},
												"DatalakeRootPath": {
													"value": "@{item().DatalakeIngestRootPath}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DsAdlsAmmexEdwBinary",
											"type": "DatasetReference",
											"parameters": {
												"DatalakeRoot": {
													"value": "@{item().ArchiveDatalakeIngestRoot}",
													"type": "Expression"
												},
												"DatalakeRootPath": {
													"value": "@{item().ArchiveDatalakeIngestRootPath}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "0-Archive"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsAsaAmmexEdw_EdwAdfPipelineReadONly')]",
				"[concat(variables('factoryId'), '/datasets/DsAdlsAmmexEdwBinary')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IngestLatticeEmployee')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSourceDataLakeFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DsSourceDataLakePathCsv_Lattice",
								"type": "DatasetReference",
								"parameters": {
									"SourceDataLakePath": {
										"value": "@pipeline().parameters.SourceDataLakePath",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "LoopingThroughtDataLakeFolders",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSourceDataLakeFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSourceDataLakeFolder').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "GetFileLastModifiedDate",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DsSourceDataLakePathFileNameCsv_Lattice",
											"type": "DatasetReference",
											"parameters": {
												"SourceDataLakePath": {
													"value": "@pipeline().parameters.SourceDataLakePath",
													"type": "Expression"
												},
												"SourceDataLakePathFileName": {
													"value": "@item().Name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified",
											"itemName"
										],
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileLastModifiedDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greaterOrEquals(activity('GetFileLastModifiedDate').output.lastModified,adddays(utcnow(),-15))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CopyingDataLakeToDataLake",
												"description": "Update CSV from Datalake with the additional field back to datalake",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "SourceFileName",
																"value": "$$FILEPATH"
															},
															{
																"name": "PipelineName",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "LoadDate",
																"value": {
																	"value": "@utcNow()",
																	"type": "Expression"
																}
															},
															{
																"name": "FileLastModifiedDate",
																"value": {
																	"value": "@activity('GetFileLastModifiedDate').output.lastModified",
																	"type": "Expression"
																}
															},
															{
																"name": "IsSourceDeleted",
																"value": ""
															},
															{
																"name": "IsSourceDeletedDate",
																"value": ""
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DsSourceDataLakePathFileNameCsv_Lattice",
														"type": "DatasetReference",
														"parameters": {
															"SourceDataLakePath": {
																"value": "@pipeline().parameters.SourceDataLakePath",
																"type": "Expression"
															},
															"SourceDataLakePathFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DsAdlsInboundLatticeCsv",
														"type": "DatasetReference",
														"parameters": {
															"DatalakeIngestRoot": {
																"value": "@pipeline().parameters.DatalakeIngestRoot",
																"type": "Expression"
															},
															"DatalakeIngestRootPath": {
																"value": "@pipeline().parameters.DatalakeIngestRootPath",
																"type": "Expression"
															},
															"DatalakeIngestRootPathFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceDataLakePath": {
						"type": "string",
						"defaultValue": "lattice/employee/"
					},
					"DatalakeIngestRoot": {
						"type": "string",
						"defaultValue": "humanresource"
					},
					"DatalakeIngestRootPath": {
						"type": "string",
						"defaultValue": "lattice/employee/updated/"
					}
				},
				"folder": {
					"name": "1-Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsSourceDataLakePathCsv_Lattice')]",
				"[concat(variables('factoryId'), '/datasets/DsSourceDataLakePathFileNameCsv_Lattice')]",
				"[concat(variables('factoryId'), '/datasets/DsAdlsInboundLatticeCsv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadLatticeEmployee')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetListOfSourceFiles",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT * FROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'InboundHumanResource' \n\t  AND [SourceSchema] = 'Employee'\n\t  AND [IsLoad] = 1\nORDER BY [SourceObject]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LoopingThroughtDataLake",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetListOfSourceFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetListOfSourceFiles').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ImportingCsvToEdw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFolderPath": {
													"value": "@{item().DatalakeIngestRootPath}",
													"type": "Expression"
												},
												"wildcardFileName": {
													"value": "@{item().SourceNetworkPathFileName}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"preCopyScript": {
												"value": "@{item().SinkPreCopyScript}",
												"type": "Expression"
											},
											"writeBehavior": "Insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DsAdlsInboundLatticeCsv",
											"type": "DatasetReference",
											"parameters": {
												"DatalakeIngestRoot": {
													"value": "@{item().DatalakeIngestRoot}",
													"type": "Expression"
												},
												"DatalakeIngestRootPath": {
													"value": "@{item().DatalakeIngestRootPath}",
													"type": "Expression"
												},
												"DatalakeIngestRootPathFileName": {
													"value": "@toLower('')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineWrite",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@{item().SinkSchema}",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@{item().SinkTable}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2-Load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsAsaAmmexEdw_EdwAdfPipelineReadONly')]",
				"[concat(variables('factoryId'), '/datasets/DsAdlsInboundLatticeCsv')]",
				"[concat(variables('factoryId'), '/datasets/DsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainLatticeEmployee')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestLatticeEmployee",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IngestLatticeEmployee",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadLatticeEmployee",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IngestLatticeEmployee",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadLatticeEmployee",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WaitFor10Seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "LoadLatticeEmployee",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "PopulateLatticeEmployee",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "WaitFor10Seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PopulateLatticeEmployee",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "4-Orchestration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/IngestLatticeEmployee')]",
				"[concat(variables('factoryId'), '/pipelines/LoadLatticeEmployee')]",
				"[concat(variables('factoryId'), '/pipelines/PopulateLatticeEmployee')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateLatticeEmployee')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetValueFromAdfLoadControl",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT * FROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'InboundHumanResource' \n\t  AND [SourceSchema] = 'Employee'\n\t  AND [IsLoad] = 1\nORDER BY [SourceObject]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LoopingThroughtAdfLoadControlObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetValueFromAdfLoadControl",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetValueFromAdfLoadControl').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExecuteFormatDatatype",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().FormatDatatype}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ExecutePopulate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecuteFormatDatatype",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3-Populate"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsAsaAmmexEdw_EdwAdfPipelineReadONly')]",
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAdlsAmmexEdwBinary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInbound",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DatalakeRoot": {
						"type": "string"
					},
					"DatalakeRootPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().DatalakeRootPath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().DatalakeRoot",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInbound')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAdlsInboundLatticeCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInbound",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DatalakeIngestRoot": {
						"type": "string"
					},
					"DatalakeIngestRootPath": {
						"type": "string"
					},
					"DatalakeIngestRootPathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().DatalakeIngestRootPathFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().DatalakeIngestRootPath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().DatalakeIngestRoot",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInbound')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAsaAmmexEdw_EdwAdfPipelineReadONly')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineReadOnly",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "ETL",
					"table": "AdfLoadControl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineReadOnly')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAsaAmmexEdw_EdwAdfPipelineWrite')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SinkSchema": {
						"type": "string"
					},
					"SinkTable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "AdfLoadControlKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsLoad",
						"type": "bit"
					},
					{
						"name": "IsLoadTesting",
						"type": "bit"
					},
					{
						"name": "SourceSystem",
						"type": "nvarchar"
					},
					{
						"name": "SourceDatabase",
						"type": "nvarchar"
					},
					{
						"name": "SourceSchema",
						"type": "nvarchar"
					},
					{
						"name": "SourceObject",
						"type": "nvarchar"
					},
					{
						"name": "SourceObjectType",
						"type": "nvarchar"
					},
					{
						"name": "SourceNetworkRoot",
						"type": "nvarchar"
					},
					{
						"name": "SourceNetworkPath",
						"type": "nvarchar"
					},
					{
						"name": "SourceNetworkPathFileName",
						"type": "nvarchar"
					},
					{
						"name": "SinkSchema",
						"type": "nvarchar"
					},
					{
						"name": "SinkTable",
						"type": "nvarchar"
					},
					{
						"name": "SinkPreCopyScript",
						"type": "nvarchar"
					},
					{
						"name": "LastModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastModifiedDateField",
						"type": "nvarchar"
					},
					{
						"name": "LoadFrequency",
						"type": "nvarchar"
					},
					{
						"name": "LoadStatus",
						"type": "nvarchar"
					},
					{
						"name": "LoadStartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LoadEndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FormatDatatype",
						"type": "nvarchar"
					},
					{
						"name": "Populate",
						"type": "nvarchar"
					},
					{
						"name": "DatalakeIngestRoot",
						"type": "nvarchar"
					},
					{
						"name": "DatalakeIngestRootPath",
						"type": "nvarchar"
					},
					{
						"name": "DatalakeIngestRootPathFileName",
						"type": "nvarchar"
					},
					{
						"name": "ArchiveDatalakeIngestRoot",
						"type": "nvarchar"
					},
					{
						"name": "ArchiveDatalakeIngestRootPath",
						"type": "nvarchar"
					},
					{
						"name": "ArchiveDatalakeIngestRootPathFileName",
						"type": "nvarchar"
					},
					{
						"name": "IsSourceDeleted",
						"type": "bit"
					},
					{
						"name": "IsSourceDeletedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SinkSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().SinkTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceDataLakePathCsv_Lattice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInbound",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceDataLakePath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().SourceDataLakePath",
							"type": "Expression"
						},
						"fileSystem": "humanresource"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInbound')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceDataLakePathFileNameCsv_Lattice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInbound",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceDataLakePath": {
						"type": "string"
					},
					"SourceDataLakePathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().SourceDataLakePathFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().SourceDataLakePath",
							"type": "Expression"
						},
						"fileSystem": "humanresource"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInbound')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EdwAdfKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('EdwAdfKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAdlEdwInbound')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LsAdlEdwInbound_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-DatalakeInbound"
					}
				},
				"connectVia": {
					"referenceName": "IrSqlMatterhorn",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IrSqlMatterhorn')]",
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAsaAmmexEdw_EdwAdfPipelineReadOnly')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('LsAsaAmmexEdw_EdwAdfPipelineReadOnly_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-AmmexDataWarehouse-EdwAdfPipelineReadOnly"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAsaAmmexEdw_EdwAdfPipelineWrite')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('LsAsaAmmexEdw_EdwAdfPipelineWrite_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-AmmexDataWarehouse-EdwAdfPipelineWrite"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsSourceNetworkRoot')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('LsSourceNetworkRoot_properties_typeProperties_host')]",
					"userId": "[parameters('LsSourceNetworkRoot_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "SourceNetworkConnection-EdwAdfPipelineSvc"
					}
				},
				"connectVia": {
					"referenceName": "IrSqlMatterhorn",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/IrSqlMatterhorn')]",
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsSourceNetworkRoot_OneDrive')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('LsSourceNetworkRoot_OneDrive_properties_typeProperties_host')]",
					"userId": "[parameters('LsSourceNetworkRoot_OneDrive_properties_typeProperties_userId')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "SourceNetworkConnection-EdwAdfPipelineSvc"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IrSqlMatterhorn')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Integration runtime linked to EdwAdfMain's Integration runtime that hose on Matterhorn VM server",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('IrSqlMatterhorn_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		}
	]
}