EdwAdfInboundBlueRidge/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "EdwAdfInboundBlueRidge"
		},
		"LsAsaAmmexEdw_EdwAdfPipelineReadOnly_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LsAsaAmmexEdw_EdwAdfPipelineReadOnly'"
		},
		"LsAsaAmmexEdw_EdwAdfPipelineWrite_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LsAsaAmmexEdw_EdwAdfPipelineWrite'"
		},
		"EdwAdfKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://EdwAdfKeyVault.vault.azure.net/"
		},
		"LsAdfEdwFTPBR_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "ftp.brinv.com"
		},
		"LsAdfEdwFTPBR_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Ammex_Prod"
		},
		"LsAdlEdwInboundBR_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://edwinbound.dfs.core.windows.net"
		},
		"LsAdlsAmmexEdw_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ammexedwsynapsestorage.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/EdwAdfKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('EdwAdfKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAdfEdwFTPBR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FtpServer",
				"typeProperties": {
					"host": "[parameters('LsAdfEdwFTPBR_properties_typeProperties_host')]",
					"port": 21,
					"enableSsl": false,
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('LsAdfEdwFTPBR_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "FtpBlueRidge-AmmexCorporation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAdlEdwInboundBR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LsAdlEdwInboundBR_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-DatalakeInbound"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAdlsAmmexEdw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LsAdlsAmmexEdw_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "AmmexEdw-DataLakeStorage",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAsaAmmexEdw_EdwAdfPipelineReadOnly')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('LsAsaAmmexEdw_EdwAdfPipelineReadOnly_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-AmmexDataWarehouse-EdwAdfPipelineReadOnly"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAsaAmmexEdw_EdwAdfPipelineWrite')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('LsAsaAmmexEdw_EdwAdfPipelineWrite_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-AmmexDataWarehouse-EdwAdfPipelineWrite"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_7hu')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInboundBR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "IBP_Audit_Export.txt",
						"folderPath": "ibpdata",
						"fileSystem": "blueridge"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInboundBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAdlsAmmexEdwBinary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInboundBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DatalakeRoot": {
						"type": "string"
					},
					"DatalakeRootPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().DatalakeRootPath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().DatalakeRoot",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInboundBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAdlsInboundEdwBRTxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInboundBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DatalakeIngestRoot": {
						"type": "string"
					},
					"DatalakeIngestRootPath": {
						"type": "string"
					},
					"DatalakeIngestRootPathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().DatalakeIngestRootPathFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().DatalakeIngestRootPath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().DatalakeIngestRoot",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInboundBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAsaAmmexEdw_EdwAdfPipelineReadONly')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineReadOnly",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "ETL",
					"table": "AdfLoadControl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineReadOnly')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAsaAmmexEdw_EdwAdfPipelineWrite')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SinkSchema": {
						"type": "string"
					},
					"SinkTable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SinkSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().SinkTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsDestinationAdlEdwInboundBRTxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdlEdwInboundBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DatalakeIngestRoot": {
						"type": "string"
					},
					"DatalakeIngestRootPath": {
						"type": "string"
					},
					"DatalakeIngestRootPathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "ibpdata",
						"fileSystem": "blueridge"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdlEdwInboundBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceNetworkPathFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdfEdwFTPBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"folderPath": {
							"value": "@dataset().SourceNetworkPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdfEdwFTPBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceNetworkPathFileNameFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdfEdwFTPBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string"
					},
					"SourceNetworkPathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"fileName": {
							"value": "@dataset().SourceNetworkPathFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().SourceNetworkPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdfEdwFTPBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceNetworkPathFileNameTxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdfEdwFTPBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string"
					},
					"SourceNetworkPathFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"fileName": {
							"value": "@dataset().SourceNetworkPathFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().SourceNetworkPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdfEdwFTPBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsSourceNetworkPathTxt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdfEdwFTPBR",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"folderPath": {
							"value": "@dataset().SourceNetworkPath",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdfEdwFTPBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_7hu')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAdfEdwFTPBR",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FtpServerLocation",
						"folderPath": "IBPData"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "itemnumber",
						"type": "String"
					},
					{
						"name": "itemdescription",
						"type": "String"
					},
					{
						"name": "sourceidentifier",
						"type": "String"
					},
					{
						"name": "vendorname",
						"type": "String"
					},
					{
						"name": "shippointname",
						"type": "String"
					},
					{
						"name": "locationname",
						"type": "String"
					},
					{
						"name": "buyer",
						"type": "String"
					},
					{
						"name": "itemstatus",
						"type": "String"
					},
					{
						"name": "itemgroup01",
						"type": "String"
					},
					{
						"name": "itemgroup02",
						"type": "String"
					},
					{
						"name": "itemgroup03",
						"type": "String"
					},
					{
						"name": "itemgroup04",
						"type": "String"
					},
					{
						"name": "itemgroup05",
						"type": "String"
					},
					{
						"name": "itemgroup06",
						"type": "String"
					},
					{
						"name": "udf5",
						"type": "String"
					},
					{
						"name": "customer",
						"type": "String"
					},
					{
						"name": "fromvalue",
						"type": "String"
					},
					{
						"name": "tovalue",
						"type": "String"
					},
					{
						"name": "reasoncode",
						"type": "String"
					},
					{
						"name": "comments",
						"type": "String"
					},
					{
						"name": "modifieduser",
						"type": "String"
					},
					{
						"name": "modifieddate",
						"type": "String"
					},
					{
						"name": "timeseriesname",
						"type": "String"
					},
					{
						"name": "PeriodNumber",
						"type": "String"
					},
					{
						"name": "PeriodStart",
						"type": "String"
					},
					{
						"name": "PeriodEnd",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAdfEdwFTPBR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ArchiveBR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkGetSourceObjects",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceDatabase] = 'Forecast'\n\t  AND [SourceSchema] = 'Blueridge'\n\t  AND [IsLoad] = 1\n\t  AND [IsLoadTesting] = 0\nORDER BY [SourceObject] ASC",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FetchingTableForArchiving",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkGetSourceObjects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkGetSourceObjects').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Archiving",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"deleteFilesAfterCompletion": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"maxConcurrentConnections": 4
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DsAdlsAmmexEdwBinary",
											"type": "DatasetReference",
											"parameters": {
												"DatalakeRoot": {
													"value": "@{item().DatalakeIngestRoot}",
													"type": "Expression"
												},
												"DatalakeRootPath": {
													"value": "@{item().DatalakeIngestRootPath}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DsAdlsAmmexEdwBinary",
											"type": "DatasetReference",
											"parameters": {
												"DatalakeRoot": {
													"value": "@{item().ArchiveDatalakeIngestRoot}",
													"type": "Expression"
												},
												"DatalakeRootPath": {
													"value": "@{item().ArchiveDatalakeIngestRootPath}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "1 - Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsAsaAmmexEdw_EdwAdfPipelineReadONly')]",
				"[concat(variables('factoryId'), '/datasets/DsAdlsAmmexEdwBinary')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IBP - Audit')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_7hu",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "IBPData/"
							},
							{
								"name": "Destination",
								"value": "blueridge/ibpdata/IBP_Audit_Export.txt"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false,
									"useBinaryTransfer": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_7hu",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_7hu",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "1 - Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_7hu')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_7hu')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ingest IBP_Export')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSourceNetworkFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DsSourceNetworkPathTxt",
								"type": "DatasetReference",
								"parameters": {
									"SourceNetworkPath": {
										"value": "@pipeline().parameters.SourceNetworkPath",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "FtpReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false,
								"useBinaryTransfer": false,
								"disableChunking": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "LoopingThroughNetworkFolders",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSourceNetworkFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSourceNetworkFolder').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "GetFileLastModifiedDate",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DsSourceNetworkPathFileNameTxt",
											"type": "DatasetReference",
											"parameters": {
												"SourceNetworkPath": {
													"value": "@pipeline().parameters.SourceNetworkPath",
													"type": "Expression"
												},
												"SourceNetworkPathFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified",
											"itemName"
										],
										"storeSettings": {
											"type": "FtpReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false,
											"useBinaryTransfer": false,
											"disableChunking": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileLastModifiedDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greaterOrEquals(activity('GetFileLastModifiedDate').output.lastModified,adddays(utcnow(),-3))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CopyingTxtToDataLake",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "SourceFileName",
																"value": "$$FILEPATH"
															},
															{
																"name": "PipelineName",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "LoadDate",
																"value": {
																	"value": "@utcNow()",
																	"type": "Expression"
																}
															},
															{
																"name": "FileLastModifiedDate",
																"value": {
																	"value": "@activity('GetFileLastModifiedDate').output.lastModified",
																	"type": "Expression"
																}
															},
															{
																"name": "IsSourceDeleted",
																"value": ""
															},
															{
																"name": "IsSourceDeletedDate",
																"value": ""
															}
														],
														"storeSettings": {
															"type": "FtpReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false,
															"useBinaryTransfer": false,
															"disableChunking": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DsSourceNetworkPathFileNameTxt",
														"type": "DatasetReference",
														"parameters": {
															"SourceNetworkPath": {
																"value": "@pipeline().parameters.SourceNetworkPath",
																"type": "Expression"
															},
															"SourceNetworkPathFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DsDestinationAdlEdwInboundBRTxt",
														"type": "DatasetReference",
														"parameters": {
															"DatalakeIngestRoot": {
																"value": "@pipeline().parameters.DatalakeIngestRoot",
																"type": "Expression"
															},
															"DatalakeIngestRootPath": {
																"value": "@pipeline().parameters.DatalakeIngestRootPath",
																"type": "Expression"
															},
															"DatalakeIngestRootPathFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string",
						"defaultValue": "/IBPData"
					},
					"DatalakeIngestRoot": {
						"type": "string",
						"defaultValue": "blueridge"
					},
					"DatalakeIngestRootPath": {
						"type": "string",
						"defaultValue": "ibpdata"
					}
				},
				"folder": {
					"name": "1 - Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsSourceNetworkPathTxt')]",
				"[concat(variables('factoryId'), '/datasets/DsSourceNetworkPathFileNameTxt')]",
				"[concat(variables('factoryId'), '/datasets/DsDestinationAdlEdwInboundBRTxt')]"
			]
		}
	]
}