Adf/EdwAdfStarSchema/pipeline/PopulateDimension.json
{
	"name": "PopulateDimension",
	"properties": {
		"activities": [
			{
				"name": "LkGetSourceObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "\nSELECT *\nFROM [ETL].[AdfLoadControl]\nwhere [SourceSystem] = 'StarSchema'\nand [SourceDatabase] = 'AmmexDataWarehouse'\nand [SourceNetworkRoot] = 'Dimension'\n--\t  AND [SourceObjectType] = ''\n\t  AND [IsLoad] = 1\n--\t  AND [IsLoadTesting] = 0\nORDER BY [SourceObject] ASC\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineWrite",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopingLkGetSourceObjects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkGetSourceObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkGetSourceObjects').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Proc Execute Populate",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[DW].[DimCustomer_Populate]"
							},
							"linkedServiceName": {
								"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "1 - Dimension"
		},
		"annotations": []
	}
}