Adf/EdwAdfInboundLattice/pipeline/IngestLatticeEmployee.json
{
	"name": "IngestLatticeEmployee",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DsAdlsInboundLatticeCsv",
						"type": "DatasetReference",
						"parameters": {
							"DatalakeIngestRoot": "humanresource",
							"DatalakeIngestRootPath": "lattice"
						}
					}
				]
			},
			{
				"name": "GetSourceDataLakeFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsSourceNetworkPathLatticeEmployeeCsv",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LoopingThroughtDataLakeFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceDataLakeFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceDataLakeFolder').output.childItems",
						"type": "Expression"
					},
					"batchCount": 4
				}
			}
		],
		"annotations": []
	}
}