Adf/EdwAdfInboundLattice/pipeline/IngestLatticeEmployee.json
{
	"name": "IngestLatticeEmployee",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DsAdlsInboundLatticeCsv",
						"type": "DatasetReference",
						"parameters": {
							"DatalakeIngestRoot": "humanresource",
							"DatalakeIngestRootPath": "lattice"
						}
					}
				]
			},
			{
				"name": "GetSourceDataLakeFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsSourceDataLakePathCsv_Lattice",
						"type": "DatasetReference",
						"parameters": {
							"SourceDataLakePath": {
								"value": "@pipeline().parameters.SourceDataLakePath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LoopingThroughtDataLakeFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceDataLakeFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceDataLakeFolder').output.childItems",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "GetFileLastModifiedDate",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DsSourceDataLakePathFileNameCsv_Lattice",
									"type": "DatasetReference",
									"parameters": {
										"SourceDataLakePath": {
											"value": "@pipeline().parameters.SourceDataLakePath",
											"type": "Expression"
										},
										"SourceDataLakePathFileName": {
											"value": "@item().Name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceDataLakePath": {
				"type": "string",
				"defaultValue": "lattice/employee/"
			}
		},
		"annotations": []
	}
}