Adf/EdwAdfAmmexMain/pipeline/IngestAmmexDeltaByJobStatus.json
{
	"name": "IngestAmmexDeltaByJobStatus",
	"properties": {
		"description": "Get data from Ammex_Staging database on Matterhorn",
		"activities": [
			{
				"name": "LkGetSourceObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceDatabase] = 'Denali'\n\t  AND [SourceObjectType] = 'Table'\n\t  AND [IsLoad] = 1\n\t  AND [IsLoadTesting] = 0",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopingLkGetSourceObjects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkGetSourceObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkGetSourceObjects').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CdTableToDataLake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LkFixColumnWithSpace",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										{
											"name": "LoadDate",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "use msdb\ngo\nSELECT DISTINCT --ETLID.execution_id,\n   JobID = jobhist.job_id,\nJobName = jobs.name,\nJobCategory = categories.name,\nIsJobEnabled = CASE jobs.enabled WHEN 1 THEN 'Yes' ELSE 'No' END,\nIsJobScheduled = CASE schedule.enabled WHEN 1 THEN 'Yes' ELSE 'No' END,\nJobDescription = jobs.Description,\nFrequency =\nCASE WHEN schedule.freq_type = 1 THEN 'Once'\nWHEN schedule.freq_type = 4\n AND schedule.freq_subday_type = 8 THEN 'Hourly'\nWHEN schedule.freq_type = 4 THEN 'Daily'\nWHEN schedule.freq_type = 8 THEN 'Weekly'\nWHEN schedule.freq_type = 16 THEN 'Monthly'\nWHEN schedule.freq_type = 32 THEN 'Monthly relative'\nWHEN schedule.freq_type = 64 THEN 'When SQL Server Agent starts'\nWHEN schedule.freq_type = 128 THEN 'Start whenever the CPU(s) become idle'\nELSE ''\nEND,\nFrequencySorting =\nCASE WHEN schedule.freq_type = 1 THEN ' 01 Once'\nWHEN schedule.freq_type = 4\n AND schedule.freq_subday_type = 8 THEN ' 02 Hourly'\nWHEN schedule.freq_type = 4 THEN ' 04 Daily'\nWHEN schedule.freq_type = 8 THEN ' 08 Weekly'\nWHEN schedule.freq_type = 16 THEN ' 16 Monthly'\nWHEN schedule.freq_type = 32 THEN ' 32 Monthly relative'\nWHEN schedule.freq_type = 64 THEN ' 64 When SQL Server Agent starts'\nWHEN schedule.freq_type = 128 THEN '128 Start whenever the CPU(s) become idle'\nELSE ''\nEND,\nFrequencyOccur =\nCASE WHEN schedule.freq_type = 1 THEN 'One Time'\nWHEN schedule.freq_type = 4\n AND schedule.freq_subday_type = 2 THEN 'Every ' + CONVERT(VARCHAR, schedule.freq_interval) + ' Seconds(s)'\nWHEN schedule.freq_type = 4\n AND schedule.freq_subday_type =  4 THEN 'Every ' + CONVERT(VARCHAR, schedule.freq_interval) + ' Minute(s)'\nWHEN schedule.freq_type = 4\n AND schedule.freq_subday_type = 8 THEN 'Every ' + CONVERT(VARCHAR, schedule.freq_interval) + ' Hour(s)'\nWHEN schedule.freq_type = 4\n AND schedule.freq_subday_type NOT IN(2,4,8) THEN  'Every ' + CONVERT(VARCHAR, schedule.freq_interval) + ' day(s)'\nWHEN schedule.freq_type = 8 THEN 'Every ' + CONVERT(VARCHAR, schedule.freq_recurrence_factor) + ' weeks(s) on ' +\nLEFT(\nCASE WHEN schedule.freq_interval &  1 =  1 THEN 'Sunday, '    ELSE '' END +\nCASE WHEN schedule.freq_interval &  2 =  2 THEN 'Monday, '    ELSE '' END +\nCASE WHEN schedule.freq_interval &  4 =  4 THEN 'Tuesday, '   ELSE '' END +\nCASE WHEN schedule.freq_interval &  8 =  8 THEN 'Wednesday, ' ELSE '' END +\nCASE WHEN schedule.freq_interval & 16 = 16 THEN 'Thursday, '  ELSE '' END +\nCASE WHEN schedule.freq_interval & 32 = 32 THEN 'Friday, '    ELSE '' END +\nCASE WHEN schedule.freq_interval & 64 = 64 THEN 'Saturday, '  ELSE '' END ,\nLEN(\nCASE WHEN schedule.freq_interval &  1 =  1 THEN 'Sunday, '    ELSE '' END +\nCASE WHEN schedule.freq_interval &  2 =  2 THEN 'Monday, '    ELSE '' END +\nCASE WHEN schedule.freq_interval &  4 =  4 THEN 'Tuesday, '   ELSE '' END +\nCASE WHEN schedule.freq_interval &  8 =  8 THEN 'Wednesday, ' ELSE '' END +\nCASE WHEN schedule.freq_interval & 16 = 16 THEN 'Thursday, '  ELSE '' END +\nCASE WHEN schedule.freq_interval & 32 = 32 THEN 'Friday, '    ELSE '' END +\nCASE WHEN schedule.freq_interval & 64 = 64 THEN 'Saturday, '  ELSE '' END\n) - 1\n)\nWHEN schedule.freq_type = 16 THEN 'Day ' + CONVERT(VARCHAR, schedule.freq_interval) + ' of every ' + CONVERT(VARCHAR, schedule.freq_recurrence_factor) + ' month(s)'\nWHEN schedule.freq_type = 32 THEN 'The ' +\nCASE schedule.freq_relative_interval\nWHEN  1 THEN 'First'\nWHEN  2 THEN 'Second'\nWHEN  4 THEN 'Third'\nWHEN  8 THEN 'Fourth'\nWHEN 16 THEN 'Last'\nEND +\nCASE schedule.freq_interval\nWHEN  1 THEN ' Sunday'\nWHEN  2 THEN ' Monday'\nWHEN  3 THEN ' Tuesday'\nWHEN  4 THEN ' Wednesday'\nWHEN  5 THEN ' Thursday'\nWHEN  6 THEN ' Friday'\nWHEN  7 THEN ' Saturday'\nWHEN  8 THEN ' Day'\nWHEN  9 THEN ' Weekday'\nWHEN 10 THEN ' Weekend Day'\nEND + ' of every ' + CONVERT(VARCHAR, schedule.freq_recurrence_factor) + ' month(s)'\nELSE ''\nEND,\nFrequencyOccurDetail =\nCASE schedule.freq_subday_type\nWHEN 0 THEN 'Occurs once at ' + STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':')\nWHEN 1 THEN 'Occurs every day at ' + STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':')\nWHEN 2 THEN 'Occurs every ' + CONVERT(VARCHAR, schedule.freq_subday_interval) + ' Seconds(s) between ' + STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':') + ' and ' + STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_end_time), 6), 5, 0, ':'), 3, 0, ':')\nWHEN 4 THEN 'Occurs every ' + CONVERT(VARCHAR, schedule.freq_subday_interval) + ' Minute(s) between ' + STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':') + ' and ' + STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_end_time), 6), 5, 0, ':'), 3, 0, ':')\nWHEN 8 THEN 'Occurs every ' + CONVERT(VARCHAR, schedule.freq_subday_interval) + ' Hour(s) between ' + STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':') + ' and ' + STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_end_time), 6), 5, 0, ':'), 3, 0, ':')\nELSE ''\nEND,\nFrequencyOccursTime =\nCASE WHEN schedule.freq_type = 1 THEN STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':')\nWHEN schedule.freq_type = 4 THEN STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':')\nWHEN schedule.freq_type = 8 THEN STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':')\nWHEN schedule.freq_subday_type = 16 THEN STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':')\nWHEN schedule.freq_subday_type = 32 THEN STUFF(STUFF(RIGHT('000000' + CONVERT(VARCHAR(8), schedule.active_start_time), 6), 5, 0, ':'), 3, 0, ':')\nELSE ''\nEND,\nFrequencyOccursDateTime = case WHEN jobs.enabled = 1\n AND schedule.enabled = 1 then msdb.dbo.agent_datetime(jobschedule.next_run_date,schedule.active_start_time) end,\n\n   JobStepID = JobHist.step_id,\nJobStepName = JobHist.step_name,\nJobSteps.command,\nJobStepPackageName = CONVERT(NVARCHAR(550), CASE WHEN JobSteps.subsystem = 'SSIS' THEN right(left(JobSteps.command, charindex('.dtsx',JobSteps.command) + 4), charindex('\\', reverse(left(JobSteps.command, charindex('.dtsx',JobSteps.command) + 4))))\n ELSE JobSteps.command\n END),\nJobStepPackagePath = CONVERT(NVARCHAR(550), CASE WHEN JobSteps.subsystem = 'SSIS' THEN substring(left(JobSteps.command, charindex('.dtsx',JobSteps.command) + 4),14,charindex('.dtsx',JobSteps.command) + 4)\nELSE '' END),\n  --JobStepDurationInSecond = JobSteps.last_run_duration,\n  --JobStepLastRunDate = JobSteps.last_run_date,\n  --JobStepLastRunTime = JobSteps.last_run_time,\n   JobExecutionStatus =  CASE jobhist.run_status\n  WHEN 0 THEN 'Failed'\n  WHEN 1 THEN 'Succeeded'\n  WHEN 2 THEN 'Retry'\n  WHEN 3 THEN 'Canceled'\n  ELSE '' END,\n\n   IsRunCurrentWeek = CASE WHEN msdb.dbo.agent_datetime(jobhist.run_date, jobhist.run_time) BETWEEN DATEADD(day, DATEDIFF(day, 0, getdate()) /7*7, 0) AND DATEADD(day, DATEDIFF(day, 6, getdate()-1) /7*7 + 7, 6) THEN 'Yes'\nELSE 'No' END,\n   RunDateTime = msdb.dbo.agent_datetime(jobhist.run_date, jobhist.run_time),\n        RunDate = jobhist.run_date,\n   RunTime = jobhist.run_time,  \n   'RunDuration[HH:MM:SS]' = CAST(msdb.dbo.agent_datetime(19000101, jobhist.run_duration) AS TIME),\n   'RunDuration[sec]' = (((jobhist.run_duration / 10000 * 3600) + ((jobhist.run_duration % 10000) / 100 * 60) + (jobhist.run_duration % 10000) % 100)) * 1.0,\n  LoadDate = Getdate()\nFROM msdb.dbo.sysjobhistory jobhist WITH(NOLOCK)\nJOIN msdb.dbo.sysjobs AS jobs WITH(NOLOCK)\n ON jobhist.job_id = jobs.job_id\nJOIN msdb.dbo.syscategories categories WITH(NOLOCK)\n ON jobs.category_id = categories.category_id\nLEFT JOIN msdb.dbo.sysjobschedules AS jobschedule WITH(NOLOCK)\n ON jobs.job_id = jobschedule.job_id\nLEFT JOIN msdb.dbo.sysschedules AS schedule WITH(NOLOCK)\n ON jobschedule.schedule_id = schedule.schedule_id\nLEFT JOIN msdb.dbo.sysjobsteps jobsteps WITH(NOLOCK)\n ON jobhist.job_id = jobsteps.job_id\n    AND jobhist.step_id = jobsteps.step_id\nWHERE msdb.dbo.agent_datetime(jobhist.run_date, jobhist.run_time) > '2017-10-04 22:15:26'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 4
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DsSqlDenaliAmmex_EdwAdfPipelineReadOnly",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DsAdlAmmexEdwDestinationCsv",
									"type": "DatasetReference",
									"parameters": {
										"DatalakeIngestRoot": {
											"value": "@{item().DatalakeIngestRoot}",
											"type": "Expression"
										},
										"DatalakeIngestRootPath": {
											"value": "@{item().DatalakeIngestRootPath}",
											"type": "Expression"
										},
										"DatalakeIngestRootPathFileName": {
											"value": "@{item().DatalakeIngestRootPathFileName}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LkFixColumnWithSpace",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@CONCAT(' DECLARE @SourceColumn VARCHAR(MAX),\n\t\t\t\t  @SourceTable VARCHAR(500) = ''', item().SourceObject, ''' \n\t\t  SELECT @SourceColumn = ISNULL(@SourceColumn + '', '', '''') + QUOTENAME(COLUMN_NAME) \n\t\t  FROM INFORMATION_SCHEMA.COLUMNS \n\t\t  WHERE QUOTENAME(TABLE_NAME) = @SourceTable SELECT ''SELECT '' + @SourceColumn + '' FROM '' + @SourceTable AS Query ')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DsSqlDenaliAmmex_EdwAdfPipelineReadOnly",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "1-Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-15T17:17:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}