Adf/EdwAdfAmmexMain/pipeline/IngestAmmexDeltaByTable.json
{
	"name": "IngestAmmexDeltaByTable",
	"properties": {
		"description": "Get data from Ammex_Staging database on Matterhorn",
		"activities": [
			{
				"name": "LkGetSourceObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT \n\t\tSourceSchema = PARSENAME(SourceSchema, 1),\n\t\tSourceObject = PARSENAME(SourceObject, 1),\n\t\tDatalakeIngestRoot,\n\t\tDatalakeIngestRootPath,\n\t\tDatalakeIngestRootPathFileName\n\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceDatabase] = '[Ammex]'\n\t  AND [SourceObjectType] = 'Table'\n\t  AND [IsLoad] = 1\n\t  AND [IsLoadTesting] = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopingLkGetSourceObjects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkGetSourceObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkGetSourceObjects').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CdTableToDataLake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										{
											"name": "LoadDate",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DsSqlDenaliAmmex_EdwAdfPipelineReadOnly_Table",
									"type": "DatasetReference",
									"parameters": {
										"SourceSchema": {
											"value": "@{item().SourceSchema}",
											"type": "Expression"
										},
										"SourceTable": {
											"value": "@{item().SourceObject}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DsAdlAmmexEdwParquet",
									"type": "DatasetReference",
									"parameters": {
										"DatalakeIngestRoot": {
											"value": "@{item().DatalakeIngestRoot}",
											"type": "Expression"
										},
										"DatalakeIngestRootPath": {
											"value": "@{item().DatalakeIngestRootPath}",
											"type": "Expression"
										},
										"DatalakeIngestRootPathFileName": {
											"value": "@{item().DatalakeIngestRootPathFileName}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "1-Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-15T17:17:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}