Adf/EdwAdfAmmexMain/pipeline/IngestAmmexDeltaByJobStatus.json
{
	"name": "IngestAmmexDeltaByJobStatus",
	"properties": {
		"description": "Get data from Ammex_Staging database on Matterhorn",
		"activities": [
			{
				"name": "LkGetSourceObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceDatabase] = 'Denali'\n\t  AND [SourceObjectType] = 'Table'\n\t  AND [IsLoad] = 1\n\t  AND [IsLoadTesting] = 0",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopingLkGetSourceObjects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkGetSourceObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkGetSourceObjects').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CdTableToDataLake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LkFixColumnWithSpace",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										{
											"name": "LoadDate",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "SELECT DISTINCT\n    execs.execution_id,\n    execl.executable_id,\n    stat.statistics_id,\n    execs.folder_name,\n    execs.project_name,\n    execs.package_name,\n    '\\SSISDB\\' + execs.folder_name + '\\' + execs.project_name + '\\' + execs.package_name as PackagePath,\n    CAST(stat.start_time AS DATETIME) AS start_time,\n    CAST(stat.end_time AS DATETIME) AS end_time,\n    stat.execution_duration,\n    CASE opers.status\n        WHEN 1 THEN\n            'Created'\n        WHEN 2 THEN\n            'Running'\n        WHEN 3 THEN\n            'Canceled'\n        WHEN 4 THEN\n            'Failed'\n        WHEN 5 THEN\n            'Pending'\n        WHEN 6 THEN\n            'Ended Unexpectedly'\n        WHEN 7 THEN\n            'Succeeded'\n        WHEN 8 THEN\n            'Stopping'\n        WHEN 9 THEN\n            'Completed'\n        ELSE\n            ''\n    END ETLStatus,\n    CASE stat.execution_result\n        when 0 then\n            'Success'\n        when 1 then\n            'Failure'\n        when 2 then\n            'Completion'\n        when 3 then\n            'Cancelled'\n        ELSE\n            ''\n    end as execution_result,\n    CASE eventmsg.message_type\n        WHEN-1 THEN\n            'Unknown'\n        WHEN 10 THEN\n            'Pre-validate'\n        WHEN 20 THEN\n            'Post-validate'\n        WHEN 30 THEN\n            'Pre-execute'\n        WHEN 40 THEN\n            'Post-execute'\n        WHEN 50 THEN\n            'StatusChange'\n        WHEN 60 THEN\n            'Progress'\n        WHEN 70 THEN\n            'Information'\n        WHEN 80 THEN\n            'VariableValueChanged'\n        WHEN 90 THEN\n            'Diagnostic'\n        WHEN 100 THEN\n            'QueryCancel'\n        WHEN 110 THEN\n            'Warning'\n        WHEN 120 THEN\n            'Error'\n        WHEN 130 THEN\n            'TaskFailed'\n        WHEN 140 THEN\n            'DiagnosticEx!  Whenever an Execute Package task executes a child package, it logs this event. The event message consists of the parameter values passed to child packages.   The value of the message column for DiagnosticEx is XML text.'\n        WHEN 200 THEN\n            'Custom'\n        WHEN 400 THEN\n            'NonDiagnostic'\n        ELSE\n            ''\n    END as ETLStatusType,\n    execl.package_name as execution_package_name,\n    execl.executable_name as execution_package_task_name,\n    ISNULL(eventmsg.message_source_name, '') AS message_source_name,\n    CONVERT(NVARCHAR(4000), stat.execution_path) AS execution_path,\n    ISNULL(eventmsg.subcomponent_name, '') AS subcomponent_name,\n    CONVERT(NVARCHAR(4000), LEFT(ISNULL(eventmsg.[message], ''), 4000)) AS ErrorMessage\nFROM SSISDB.[internal].[executions] execs WITH (NOLOCK)\n    JOIN SSISDB.[internal].[executable_statistics] stat WITH (NOLOCK)\n        ON execs.[execution_id] = stat.[execution_id]\n    JOIN SSISDB.[internal].[executables] execl WITH (NOLOCK)\n        ON stat.[executable_id] = execl.[executable_id]\n    JOIN SSISDB.[internal].[operations] opers WITH (NOLOCK)\n        ON execs.[execution_id] = opers.[operation_id]\n    LEFT JOIN SSISDB.catalog.event_messages eventmsg WITH (NOLOCK)\n        ON opers.operation_id = eventmsg.operation_id\n           AND execs.execution_id = eventmsg.operation_id\n           AND execl.package_name = eventmsg.package_name\n           AND stat.execution_path = eventmsg.execution_path\n           --AND subcomponent_name <> 'SSIS.Pipeline'\n           AND eventmsg.message_type in ( 120, 130 )\nWHERE opers.status <> 2 --exclude 'Running'  \n      AND CONVERT(DATE, stat.start_time) >= DATEADD(D, -0, CONVERT(DATE, GETDATE()))\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 4
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DsSqlDenaliAmmex_EdwAdfPipelineReadOnly",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DsAdlAmmexEdwDestinationCsv",
									"type": "DatasetReference",
									"parameters": {
										"DatalakeIngestRoot": {
											"value": "@{item().DatalakeIngestRoot}",
											"type": "Expression"
										},
										"DatalakeIngestRootPath": {
											"value": "@{item().DatalakeIngestRootPath}",
											"type": "Expression"
										},
										"DatalakeIngestRootPathFileName": {
											"value": "@{item().DatalakeIngestRootPathFileName}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LkFixColumnWithSpace",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@CONCAT(' DECLARE @SourceColumn VARCHAR(MAX),\n\t\t\t\t  @SourceTable VARCHAR(500) = ''', item().SourceObject, ''' \n\t\t  SELECT @SourceColumn = ISNULL(@SourceColumn + '', '', '''') + QUOTENAME(COLUMN_NAME) \n\t\t  FROM INFORMATION_SCHEMA.COLUMNS \n\t\t  WHERE QUOTENAME(TABLE_NAME) = @SourceTable SELECT ''SELECT '' + @SourceColumn + '' FROM '' + @SourceTable AS Query ')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DsSqlDenaliAmmex_EdwAdfPipelineReadOnly",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "1-Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-15T17:17:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}