Adf/EdwAdfInboun8x8/pipeline/Archive8x8 - Ftp.json
{
	"name": "Archive8x8 - Ftp",
	"properties": {
		"description": "Move files from folder \"CallDetailRecord\" to \"CallDetailRecord/Archive\"",
		"activities": [
			{
				"name": "LkGetSourceObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceDatabase] = 'Call'\n\t  AND [SourceSchema] = '8x8'\n\t  AND [IsLoad] = 1\n\t  AND [IsLoadTesting] = 0\nORDER BY [SourceObject] ASC",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FetchingTableForArchiving",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkGetSourceObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkGetSourceObjects').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Archiving",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 4
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DsAdlsAmmexEdwBinary",
									"type": "DatasetReference",
									"parameters": {
										"DatalakeRoot": {
											"value": "@{item().DatalakeIngestRoot}",
											"type": "Expression"
										},
										"DatalakeRootPath": {
											"value": "@{item().DatalakeIngestRootPath}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DsAdlsAmmexEdwBinary",
									"type": "DatasetReference",
									"parameters": {
										"DatalakeRoot": {
											"value": "@{item().ArchiveDatalakeIngestRoot}",
											"type": "Expression"
										},
										"DatalakeRootPath": {
											"value": "@{item().ArchiveDatalakeIngestRootPath}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "1 - Ingest"
		},
		"annotations": []
	}
}