Adf/EdwAdfInboun8x8/pipeline/Ingest8x8.json
{
	"name": "Ingest8x8",
	"properties": {
		"activities": [
			{
				"name": "GetSourceNetworkFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsSourceNetworkPathCsv",
						"type": "DatasetReference",
						"parameters": {
							"SourceNetworkPath": {
								"value": "@pipeline().parameters.SourceNetworkPath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"useBinaryTransfer": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LoopingThroughtNetworkFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceNetworkFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceNetworkFolder').output.childItems",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "GetFileLastModifiedDate",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DsSourceNetworkPathFileNameCsv",
									"type": "DatasetReference",
									"parameters": {
										"SourceNetworkPath": {
											"value": "@pipeline().parameters.SourceNetworkPath",
											"type": "Expression"
										},
										"SourceNetworkPathFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [],
								"storeSettings": {
									"type": "FtpReadSettings",
									"enablePartitionDiscovery": false,
									"useBinaryTransfer": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileLastModifiedDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('GetFileLastModifiedDate').output.lastModified,adddays(utcnow(),-1))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceNetworkPath": {
				"type": "string",
				"defaultValue": "ftp.smartfile.com/shares/CallDetailRecord"
			},
			"DatalakeIngestRoot": {
				"type": "string",
				"defaultValue": "8x8"
			},
			"DatalakeIngestRootPath": {
				"type": "string"
			}
		},
		"folder": {
			"name": "1 - Ingest"
		},
		"annotations": []
	}
}