Adf/EdwAdfInboun8x8/pipeline/Ingest8x8 - CallDetailRecordArchive.json
{
	"name": "Ingest8x8 - CallDetailRecordArchive",
	"properties": {
		"description": "This pipeline run against the FTP archive folder",
		"activities": [
			{
				"name": "GetSourceNetworkFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsSourceNetworkPathFTP",
						"type": "DatasetReference",
						"parameters": {
							"SourceNetworkPath": {
								"value": "@pipeline().parameters.SourceNetworkPath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FtpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"useBinaryTransfer": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "LoopingThroughNetworkFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceNetworkFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceNetworkFolder').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetFileLastModifiedDate",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DsSourceNetworkPathFileNameFTP",
									"type": "DatasetReference",
									"parameters": {
										"SourceNetworkPath": {
											"value": "@pipeline().parameters.SourceNetworkPath",
											"type": "Expression"
										},
										"SourceNetworkPathFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false,
									"useBinaryTransfer": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileLastModifiedDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greaterOrEquals(activity('GetFileLastModifiedDate').output.lastModified,adddays(utcnow(),-7))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "CopyingCsvToDataLake",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "SourceFileName",
														"value": "$$FILEPATH"
													},
													{
														"name": "PipelineName",
														"value": {
															"value": "@pipeline().Pipeline",
															"type": "Expression"
														}
													},
													{
														"name": "LoadDate",
														"value": {
															"value": "@utcNow()",
															"type": "Expression"
														}
													},
													{
														"name": "LastUpdatedDate",
														"value": {
															"value": "@activity('GetFileLastModifiedDate').output.lastModified",
															"type": "Expression"
														}
													},
													{
														"name": "IsSourceDeleted",
														"value": ""
													},
													{
														"name": "IsSourceDeletedDate",
														"value": ""
													}
												],
												"storeSettings": {
													"type": "FtpReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false,
													"useBinaryTransfer": false,
													"disableChunking": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DsSourceNetworkPathFileNameFTP",
												"type": "DatasetReference",
												"parameters": {
													"SourceNetworkPath": {
														"value": "@pipeline().parameters.SourceNetworkPath",
														"type": "Expression"
													},
													"SourceNetworkPathFileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DsDestinationAdlEdwInbound8x8Csv",
												"type": "DatasetReference",
												"parameters": {
													"DatalakeIngestRoot": {
														"value": "@{item().DatalakeIngestRoot}",
														"type": "Expression"
													},
													"DatalakeIngestRootPath": {
														"value": "@{item().DatalakeIngestRootPath}",
														"type": "Expression"
													},
													"DatalakeIngestRootPathFileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceNetworkPath": {
				"type": "string"
			}
		},
		"folder": {
			"name": "1 - Ingest"
		},
		"annotations": []
	}
}