Adf/EdwAdfInboun8x8/pipeline/Load8x8.json
{
	"name": "Load8x8",
	"properties": {
		"activities": [
			{
				"name": "GetListOfSourceFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'Inbound8x8'\n\t  AND [IsLoad] = 1\nORDER BY [SourceObject]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LoopingThroughtDataLake",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetListOfSourceFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListOfSourceFiles').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "2 - Load"
		},
		"annotations": []
	}
}