EdwAdfInbound/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "EdwAdfInbound"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PopulateAce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopingThroughtAdfLoadControlObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetValueFromAdfLoadControl",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetValueFromAdfLoadControl').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExecuteFormatDatatype",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().FormatDatatype}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ExecutePopulate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecuteFormatDatatype",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetValueFromAdfLoadControl",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'Inbound'\n\t  AND [IsLoad] = 1\n\t  AND [SourceDatabase] = 'Customer'\n\t  AND [SourceSchema] = 'Ace' \n--\t  AND [SourceObject] = 'CustomerAceInventoryAndOrder'\nORDER BY [SourceObject]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3-Populate"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateLowes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopingThroughtAdfLoadControlObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetValueFromAdfLoadControl",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetValueFromAdfLoadControl').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExecuteFormatDatatype",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().FormatDatatype}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ExecutePopulate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecuteFormatDatatype",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetValueFromAdfLoadControl",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'Inbound'\n\t  AND [IsLoad] = 1\n\t  AND [SourceDatabase] = 'Customer'\nAND [SourceSchema] = 'Lowes' \nORDER BY [SourceObject]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3-Populate"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateOReilly')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopingThroughtAdfLoadControlObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetValueFromAdfLoadControl",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetValueFromAdfLoadControl').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExecuteFormatDatatype",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().FormatDatatype}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ExecutePopulate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecuteFormatDatatype",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetValueFromAdfLoadControl",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'Inbound'\n\t  AND [IsLoad] = 1\n\t  AND [SourceDatabase] = 'Customer'\n\t  AND [SourceSchema] = 'OReilly' \nORDER BY [SourceObject]\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3-Populate"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateOfficeDepot')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopingThroughtAdfLoadControlObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetValueFromAdfLoadControl",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetValueFromAdfLoadControl').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExecuteFormatDatatype",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().FormatDatatype}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ExecutePopulate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecuteFormatDatatype",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetValueFromAdfLoadControl",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'Inbound'\n\t  AND [SourceSchema] = 'OfficeDepot'\n\t  AND [IsLoad] = 1\nORDER BY [SourceObject]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3-Populate"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateStaples')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopingThroughtAdfLoadControlObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetValueFromAdfLoadControl",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetValueFromAdfLoadControl').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExecuteFormatDatatype",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().FormatDatatype}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ExecutePopulate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecuteFormatDatatype",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetValueFromAdfLoadControl",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'Inbound'\n\t  AND [IsLoad] = 1\n\t  AND [SourceDatabase] = 'Customer'\n\t  AND [SourceSchema] = 'Staples' \nORDER BY [SourceObject]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3-Populate"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateTrueValue')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopingThroughtAdfLoadControlObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetValueFromAdfLoadControl",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetValueFromAdfLoadControl').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "ExecuteFormatDatatype",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().FormatDatatype}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "ExecutePopulate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "ExecuteFormatDatatype",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetValueFromAdfLoadControl",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'Inbound'\n\t  AND [IsLoad] = 1\n\t  AND [SourceDatabase] = 'Customer'\n\t  AND [SourceSchema] = 'TrueValue' \nORDER BY [SourceObject]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3-Populate"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AceSales_Unpivot')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DsAbsInboundEdw_AceSales",
								"type": "DatasetReference"
							},
							"name": "GetCSVfromDataLake"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineWrite_Unpivot",
								"type": "DatasetReference"
							},
							"name": "UnpivotCSVtoEDW"
						}
					],
					"transformations": [
						{
							"name": "UnpivotCSV"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Manufacturer #} as string,",
						"          Article as string,",
						"          {Article Name} as string,",
						"          {_col3_} as string,",
						"          {_col4_} as string,",
						"          {_col5_} as string,",
						"          {_col6_} as string,",
						"          {_col7_} as string,",
						"          {_col8_} as string,",
						"          {_col9_} as string,",
						"          {_col10_} as string,",
						"          {_col11_} as string,",
						"          {_col12_} as string,",
						"          {_col13_} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false,",
						"     rowUrlColumn: 'FileName',",
						"     skipLines: 8) ~> GetCSVfromDataLake",
						"GetCSVfromDataLake unpivot(output(",
						"          {Period Shipped} as string,",
						"          {Sold Item} as string",
						"     ),",
						"     ungroupBy({Manufacturer #},",
						"          Article,",
						"          {Article Name},",
						"          FileName),",
						"     lateral: false,",
						"     ignoreNullPivots: false) ~> UnpivotCSV",
						"UnpivotCSV sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     staged: false,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          {Manufacturer #},",
						"          Article,",
						"          {Article Name},",
						"          FileName,",
						"          {Period Shipped},",
						"          {Sold Item}",
						"     )) ~> UnpivotCSVtoEDW"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IngestAce - Sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LoopingThroughtNetworkFolders",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetSourceNetworkFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetSourceNetworkFolder').output.childItems",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "GetFileLastModifiedDate",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DsSourceNetworkPathFileNameCsv_OReilly",
											"type": "DatasetReference",
											"parameters": {
												"SourceNetworkPath": {
													"value": "@pipeline().parameters.SourceNetworkPath",
													"type": "Expression"
												},
												"SourceNetworkPathFileName": {
													"value": "@item().NAME",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"lastModified",
											"itemName"
										],
										"storeSettings": {
											"type": "FileServerReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileLastModifiedDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greaterOrEquals(activity('GetFileLastModifiedDate').output.lastModified,adddays(utcnow(),-3))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CopyingCsvToDataLake",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "SourceFileName",
																"value": "$$FILEPATH"
															},
															{
																"name": "PipelineName",
																"value": {
																	"value": "@pipeline().Pipeline",
																	"type": "Expression"
																}
															},
															{
																"name": "LoadDate",
																"value": {
																	"value": "@utcNow()",
																	"type": "Expression"
																}
															},
															{
																"name": "FileLastModifiedDate",
																"value": {
																	"value": "@activity('GetFileLastModifiedDate').output.lastModified",
																	"type": "Expression"
																}
															},
															{
																"name": "IsSourceDeleted",
																"value": ""
															},
															{
																"name": "IsSourceDeletedDate",
																"value": ""
															}
														],
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DsSourceNetworkPathFileNameCsv_OReilly",
														"type": "DatasetReference",
														"parameters": {
															"SourceNetworkPath": {
																"value": "@pipeline().parameters.SourceNetworkPath",
																"type": "Expression"
															},
															"SourceNetworkPathFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DsDestinationAdlEdwInboundCsv",
														"type": "DatasetReference",
														"parameters": {
															"DatalakeIngestRoot": {
																"value": "@pipeline().parameters.DatalakeIngestRoot",
																"type": "Expression"
															},
															"DatalakeIngestRootPath": {
																"value": "@pipeline().parameters.DatalakeIngestRootPath",
																"type": "Expression"
															},
															"DatalakeIngestRootPathFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "GetSourceNetworkFolder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DsSourceNetworkPathCsv_AceSales",
								"type": "DatasetReference",
								"parameters": {
									"SourceNetworkPath": {
										"value": "@pipeline().parameters.SourceNetworkPath",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "FileServerReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "DataCleansingToEDW",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "LoopingThroughtNetworkFolders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "AceSales_Unpivot",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"GetCSVfromDataLake": {},
									"UnpivotCSVtoEDW": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SourceNetworkPath": {
						"type": "string",
						"defaultValue": "General\\Ammex\\Sales\\Sell Through Data Files\\Ace\\2022\\Sales"
					},
					"DatalakeIngestRoot": {
						"type": "string",
						"defaultValue": "finance"
					},
					"DatalakeIngestRootPath": {
						"type": "string",
						"defaultValue": "sales/sellthroughdatafiles/ace/sales"
					}
				},
				"folder": {
					"name": "1-Ingest"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/AceSales_Unpivot')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainLowes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestLowes",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IngestLowes - SalesAndInventory",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadLowes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IngestLowes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadLowes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PopulateLowes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "WaitFor10Seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PopulateLowes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WaitFor10Seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "LoadLowes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "4-Orchestration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PopulateLowes')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainOReilly')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestOReilly - Inventory",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IngestOReilly - Inventory",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadOReilly",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IngestOReilly - Inventory",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "IngestOReilly - Sales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadOReilly",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PopulateOReilly",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "WaitFor10Seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PopulateOReilly",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "IngestOReilly - Sales",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IngestOReilly - Sales",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WaitFor10Seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "LoadOReilly",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "4-Orchestration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PopulateOReilly')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainOfficeDepot')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestOfficeDepot",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IngestOfficeDepot - Sales",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadOfficeDepot",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IngestOfficeDepot",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadOfficeDepot",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PopulateOfficeDepot",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "WaitFor10Seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PopulateOfficeDepot",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WaitFor10Seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "LoadOfficeDepot",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "4-Orchestration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PopulateOfficeDepot')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainStaples')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestStaples",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IngestStaples - Sales",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadStaples",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IngestStaples",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadStaples",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PopulateLowes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "WaitFor10Seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PopulateStaples",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WaitFor10Seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "LoadStaples",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "4-Orchestration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PopulateStaples')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainTrueValue')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestTrueValue",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IngestTrueValue - Sales",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadTrueValue",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IngestTrueValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadTrueValue",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PopulateTrueValue",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "WaitFor10Seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PopulateTrueValue",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WaitFor10Seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "LoadTrueValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "4-Orchestration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PopulateTrueValue')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainAce')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IngestAce - InventoryAndOrder",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IngestAce - InventoryAndOrder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "LoadAce",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "IngestAce - InventoryAndOrder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LoadAce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PopulateAce",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "WaitFor10Seconds",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PopulateAce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "IngestAce - Sales",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IngestAce - Sales",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WaitFor10Seconds",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "IngestAce - Sales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "LoadAce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "4-Orchestration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PopulateAce')]",
				"[concat(variables('factoryId'), '/pipelines/IngestAce - Sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainInboundAll')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MainAce",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MainAce",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MainLowes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MainAce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MainLowes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MainOfficeDepot",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MainAce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MainOfficeDepot",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MainOReilly",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MainAce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MainOReilly",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MainStaples",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MainAce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MainStaples",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "MainTrueValue",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "MainAce",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MainTrueValue",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "4-Orchestration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MainAce')]",
				"[concat(variables('factoryId'), '/pipelines/MainLowes')]",
				"[concat(variables('factoryId'), '/pipelines/MainOfficeDepot')]",
				"[concat(variables('factoryId'), '/pipelines/MainOReilly')]",
				"[concat(variables('factoryId'), '/pipelines/MainStaples')]",
				"[concat(variables('factoryId'), '/pipelines/MainTrueValue')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TriggerRunDaily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MainInboundAll",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2022-07-11T00:07:00",
						"timeZone": "Pacific Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MainInboundAll')]"
			]
		}
	]
}