Adf/EdwAdfAmmex/pipeline/CreatePipelineThroughWiza.json
{
	"name": "CreatePipelineThroughWiza",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DsSourceNetworkRootCsv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.itemName",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_mfs",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Insert",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Location Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Location Type",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Dept",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Dept",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Class",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Class",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SKU Number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SKU Number",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "SKU Status",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SKU Status",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Quantity On Hand",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Quantity On Hand",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "VPC",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VPC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "UPC",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "UPC",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Unit Sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Unit Sales",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Retail Sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Retail Sales",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Cost Sales",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Cost Sales",
												"type": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DsAdlEdwInboundCsv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_mfs",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Get Metadata2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DsAdlEdwInboundCsv",
									"type": "DatasetReference"
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "FileNames",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Get Metadata2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					]
				}
			}
		],
		"variables": {
			"FileNames": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}