Adf/EdwAdfAmmex/pipeline/IngestAmmexDelta_Staging.json
{
	"name": "IngestAmmexDelta_Staging",
	"properties": {
		"description": "Get data from Ammex_Staging database on Matterhorn",
		"activities": [
			{
				"name": "LkGetSourceObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'Ammex'\n\t  AND IsLoad = 1\nORDER BY [SourceObject]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineReadONly",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopingLkGetSourceObjects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkGetSourceObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkGetSourceObjects').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "CdTableToDataLake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LkFixColumnWithSpace",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"additionalColumns": [
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										{
											"name": "LoadDate",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "@activity('LkFixColumnWithSpace').output.firstRow.Query",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DsSqlMatterhornAmmexStaging_EdwAdfPipelineReadOnly",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@{item().SourceSchema}",
											"type": "Expression"
										},
										"Object": {
											"value": "@{item().SourceObject}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DsAdlsAmmexEdwCsv",
									"type": "DatasetReference",
									"parameters": {
										"DatalakeIngestRoot": {
											"value": "@{item().DatalakeIngestRoot}",
											"type": "Expression"
										},
										"DatalakeIngestRootPath": {
											"value": "@{item().DatalakeIngestRootPath}",
											"type": "Expression"
										},
										"DatalakeIngestRootPathFileName": {
											"value": "@{item().DatalakeIngestRootPathFileName}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LkFixColumnWithSpace",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@CONCAT(' \nDECLARE @SourceColumn VARCHAR(MAX),\n\t\t@SourceTable VARCHAR(500) = ''', item().SourceObject, ''' \nSELECT @SourceColumn = ISNULL(@SourceColumn + '', '', '''') + QUOTENAME(COLUMN_NAME)\nFROM INFORMATION_SCHEMA.COLUMNS\nWHERE QUOTENAME(TABLE_NAME) = @SourceTable \nSELECT ''SELECT '' + @SourceColumn + '' FROM '' + @SourceTable AS Query \n') ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DsSqlMatterhornAmmexStaging_EdwAdfPipelineReadOnly",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@{item().SourceSchema}",
											"type": "Expression"
										},
										"Object": {
											"value": "@{item().SourceObject}",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceSchema": {
				"type": "string"
			},
			"SourceObject": {
				"type": "string"
			},
			"DatalakeIngestRoot": {
				"type": "string"
			},
			"DatalakeIngestRootPath": {
				"type": "string"
			},
			"DatalakeIngestRootPathFileName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "1-Ingest"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-15T17:17:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}