Adf/EdwAdfAmmex/pipeline/LoadDataLakeToEDW.json
{
	"name": "LoadDataLakeToEDW",
	"properties": {
		"description": "Importing Data Lake Parquet files onto Loader schema on EDW",
		"activities": [
			{
				"name": "LkGetSourceObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT\tDISTINCT\n\t\tSourceSystem = CASE WHEN LEFT(T.TABLE_NAME, 4) = 'AMEC' THEN 'Zoomget' ELSE 'Ammex' END,\n\t\tSourceDatabase = QUOTENAME(T.TABLE_CATALOG),\n\t\tSourceSchema = QUOTENAME(T.TABLE_SCHEMA),\n\t\tSourceObject = QUOTENAME(T.TABLE_NAME),\n\t\tSourceObjectType = CASE WHEN T.TABLE_TYPE = 'Base Table' THEN 'Table' ELSE T.TABLE_TYPE END,\n\t\tIngestRoot = 'ingest',\t--'ammex-edw-synase-blob',\n\t\tIngestRootPath = CASE WHEN LEFT(T.TABLE_NAME, 4) = 'AMEC' THEN 'zoomget/delta' ELSE 'ammex/delta/' END + T.TABLE_SCHEMA + '.' + T.TABLE_NAME,\t\t\n\t\tIngestRootPathFileName = T.TABLE_SCHEMA + '.' + T.TABLE_NAME,\n\t\tSinkSchema = 'Loader',\n\t\tSinkTable = 'Stage' + CASE WHEN LEFT(T.TABLE_NAME, 4) = 'AMEC' THEN 'Zoomget' ELSE 'Ammex' END + '_' + T.TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES T\nWHERE T.TABLE_SCHEMA = 'DBO'\n\t  AND T.TABLE_NAME IN('AMMEX_EXT_FREIGHTSHIP',\n\t\t\t\t\t\t\t'AMMEX_SHIPPING_CM',\n\t\t\t\t\t\t\t'AMMEX_EXT_CMWAREHOUSE',\n\t\t\t\t\t\t\t'AMMEX_RM00101',\n\t\t\t\t\t\t\t'AMMEX_EXT_CM_CARRIER',\n\t\t\t\t\t\t\t'AMMEX_CUSTOMER2',\n\t\t\t\t\t\t\t'AMMEX_EXT_ONEPATH',\n\t\t\t\t\t\t\t'AMMEX_CUSTOMER'\n\t\t\t\t\t\t\t)\nORDER BY 5, 4",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsSqlMatterhornAmmexStaging_EdwAdfPipelineReadOnly",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": {
								"value": "@pipeline().parameters.SinkSchema",
								"type": "Expression"
							},
							"SourceObject": {
								"value": "@pipeline().parameters.SinkTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopingLkGetSourceObjects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkGetSourceObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkGetSourceObjects').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "LoadDataLakeToEdw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@{item().IngestRootPath}",
											"type": "Expression"
										},
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "IF OBJECT_ID('@{item().SinkSchema}.@{item().SinkTable}') IS NOT NULL\n   DROP TABLE @{item().SinkSchema}.@{item().SinkTable}\n",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DsAdlsAmmexEdw",
									"type": "DatasetReference",
									"parameters": {
										"IngestRoot": {
											"value": "@{item().IngestRoot}",
											"type": "Expression"
										},
										"IngestRootPath": {
											"value": "@{item().IngestRootPath}",
											"type": "Expression"
										},
										"IngestRootPathFileName": {
											"value": "@{item().IngestRootPathFileName}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineWrite",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@{item().SinkSchema}",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@{item().SinkTable}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string"
			},
			"SinkTable": {
				"type": "string"
			},
			"IngestRoot": {
				"type": "string"
			},
			"IngestRootPath": {
				"type": "string"
			},
			"IngestRootPathFileName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "2-Load"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-15T17:17:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}