EdwAdfStarSchema/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "EdwAdfStarSchema"
		},
		"LsAsaAmmexEdw_EdwAdfPipelineWrite_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LsAsaAmmexEdw_EdwAdfPipelineWrite'"
		},
		"EdwAdfKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://EdwAdfKeyVault.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/EdwAdfKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('EdwAdfKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LsAsaAmmexEdw_EdwAdfPipelineWrite')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('LsAsaAmmexEdw_EdwAdfPipelineWrite_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "EdwAdfKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "AmmexEdw-AmmexDataWarehouse-EdwAdfPipelineWrite"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/EdwAdfKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": " DECLARE @DATE DATE = CONVERT(DATE, DATEADD(DAY,30,DATEADD(year, DATEDIFF(year, -1, GETUTCDATE())+3, 0)) );\n Exec DW.TestDimDate_Populate '1900-01-01', @DATE"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DsAsaAmmexEdw_EdwAdfPipelineWrite')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "AdfLoadControlKey",
						"type": "int",
						"precision": 10
					},
					{
						"name": "IsLoad",
						"type": "bit"
					},
					{
						"name": "IsLoadTesting",
						"type": "bit"
					},
					{
						"name": "SourceSystem",
						"type": "nvarchar"
					},
					{
						"name": "SourceDatabase",
						"type": "nvarchar"
					},
					{
						"name": "SourceSchema",
						"type": "nvarchar"
					},
					{
						"name": "SourceObject",
						"type": "nvarchar"
					},
					{
						"name": "SourceObjectType",
						"type": "nvarchar"
					},
					{
						"name": "SourceNetworkRoot",
						"type": "nvarchar"
					},
					{
						"name": "SourceNetworkPath",
						"type": "nvarchar"
					},
					{
						"name": "SourceNetworkPathFileName",
						"type": "nvarchar"
					},
					{
						"name": "SinkSchema",
						"type": "nvarchar"
					},
					{
						"name": "SinkTable",
						"type": "nvarchar"
					},
					{
						"name": "SinkPreCopyScript",
						"type": "nvarchar"
					},
					{
						"name": "LastModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastModifiedDateField",
						"type": "nvarchar"
					},
					{
						"name": "LoadFrequency",
						"type": "nvarchar"
					},
					{
						"name": "LoadStatus",
						"type": "nvarchar"
					},
					{
						"name": "LoadStartDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LoadEndDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "FormatDatatype",
						"type": "nvarchar"
					},
					{
						"name": "Populate",
						"type": "nvarchar"
					},
					{
						"name": "DatalakeIngestRoot",
						"type": "nvarchar"
					},
					{
						"name": "DatalakeIngestRootPath",
						"type": "nvarchar"
					},
					{
						"name": "DatalakeIngestRootPathFileName",
						"type": "nvarchar"
					},
					{
						"name": "ArchiveDatalakeIngestRoot",
						"type": "nvarchar"
					},
					{
						"name": "ArchiveDatalakeIngestRootPath",
						"type": "nvarchar"
					},
					{
						"name": "ArchiveDatalakeIngestRootPathFileName",
						"type": "nvarchar"
					},
					{
						"name": "IsSourceDeleted",
						"type": "bit"
					},
					{
						"name": "IsSourceDeletedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LastUpdatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LoadDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "ETL",
					"table": "AdfLoadControl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateDimension')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkGetSourceObjects",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT *\nFROM [ETL].[AdfLoadControl]\nwhere [SourceSystem] = 'StarSchema'\nand [SourceDatabase] = 'AmmexDataWarehouse'\nand [SourceNetworkRoot] = 'Dimension'\n--\t  AND [SourceObjectType] = ''\n\t  AND [IsLoad] = 1\n--\t  AND [IsLoadTesting] = 0\nORDER BY [SourceObject] ASC\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineWrite",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LoopingLkGetSourceObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkGetSourceObjects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkGetSourceObjects').output.value",
								"type": "Expression"
							},
							"batchCount": 2,
							"activities": [
								{
									"name": "Proc Execute Populate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "1 - Dimension"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsAsaAmmexEdw_EdwAdfPipelineWrite')]",
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateDimension_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkGetSourceObjects",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT *\nFROM [ETL].[AdfLoadControl]\nwhere [SourceSystem] = 'StarSchema'\nand [SourceDatabase] = 'AmmexDataWarehouse'\nand [SourceNetworkRoot] = 'Dimension'\n--\t  AND [SourceObjectType] = ''\n\t  AND [IsLoad] = 1\n--\t  AND [IsLoadTesting] = 0\nORDER BY [SourceObject] ASC\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineWrite",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LoopingLkGetSourceObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkGetSourceObjects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkGetSourceObjects').output.value",
								"type": "Expression"
							},
							"batchCount": 2,
							"activities": [
								{
									"name": "Proc Execute Populate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "test"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsAsaAmmexEdw_EdwAdfPipelineWrite')]",
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PopulateFact')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LkGetSourceObjects",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "SELECT *\nFROM [ETL].[AdfLoadControl]\nwhere [SourceSystem] = 'StarSchema'\nand [SourceDatabase] = 'AmmexDataWarehouse'\nand [SourceNetworkRoot] = 'Fact'\n--\t  AND [SourceObjectType] = ''\n\t  AND [IsLoad] = 1\n--\t  AND [IsLoadTesting] = 0\nORDER BY [SourceObject] ASC\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DsAsaAmmexEdw_EdwAdfPipelineWrite",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "LoopingLkGetSourceObjects",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LkGetSourceObjects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LkGetSourceObjects').output.value",
								"type": "Expression"
							},
							"batchCount": 2,
							"activities": [
								{
									"name": "Proc Execute Populate",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@{item().Populate}",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "LsAsaAmmexEdw_EdwAdfPipelineWrite",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "2 - Fact"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DsAsaAmmexEdw_EdwAdfPipelineWrite')]",
				"[concat(variables('factoryId'), '/linkedServices/LsAsaAmmexEdw_EdwAdfPipelineWrite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MainStarSchema')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PopulateDimension",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PopulateDimension",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PopulateFact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PopulateDimension",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PopulateFact",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "3 - Orchastrator"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PopulateDimension')]",
				"[concat(variables('factoryId'), '/pipelines/PopulateFact')]"
			]
		}
	]
}