Adf/EdwAdfZoomget/pipeline/PopulateZoomgetDelta_Staging.json
{
	"name": "PopulateZoomgetDelta_Staging",
	"properties": {
		"activities": [
			{
				"name": "LkGetSourceObjects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT *\nFROM [ETL].[AdfLoadControl]\nWHERE [SourceSystem] = 'Zoomget'\n\t  AND [IsLoad] = 1\nORDER BY [SourceObject]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DsAsaZoomgetEdw_EdwAdfPipelineReadONly",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LoopingLkGetSourceObjects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkGetSourceObjects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkGetSourceObjects').output.value",
						"type": "Expression"
					},
					"batchCount": 2
				}
			}
		],
		"folder": {
			"name": "3-Populate"
		},
		"annotations": []
	}
}